body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background: white;
  width: 400px;
}

div:first-child {
  margin-top: 0px;
}

div {
  padding: 1px 3px;
  font-family: sans-serif;
  font-size: 10pt;
  width: 400px;
  margin-top: 1px;
}