<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">

<!--    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css">-->

    <link rel="stylesheet" href="http://localhost:3000/style/bootstrap.css">
    <link href="/style/admin.css" rel="stylesheet" type="text/css">
    <!--
    <link rel="stylesheet" href="http://localhost:3000/style/angular-ui-list-view.css">
-->
    <script src="http://localhost:3000/js/jquery.min.js"></script>
    <script src="http://localhost:3000/js/bootstrap/bootstrap.min.js"></script>
    <script src="http://localhost:3000/js/angular/angular.min.js"></script>
    <script src="http://localhost:3000/js/angular/angular-animate.min.js"></script>
    <script src="http://localhost:3000/js/angular/angular-listview.min.js"></script>
    <script src="http://localhost:3000/js/angular/angular-route.min.js"></script>
    
    <script src="/js/admin.js"></script>
    <title>Panel administracyjny tsw</title>
</head>
<body>
    <div id="adminPanel" class="row" ng-app="adminPage" ng-csp>
       <h1 class="header text-center">Witaj admin</h1>
        <div >
                <div class="row">
                    text
                </div>
                <hr/>
                <div class="row" ng-controller="usersController">
                   <div class="col-sm-3 myCol">
                    <input type="text" ng-model="currentAddress"> <button class="btn" ng-click="addAddress()">Dodaj</button>
                     <div list-view list="address in forbiddenAddresses">
                      <div list-item>
                        <input type="checkbox" ng-model="address.selected">
                         <div class="list-item-body" ng-class="{'edit-mode': $editMode}">
                                <h3>Adres:</h3>
                                <pre>{{address.url | json}}</pre>
                        </div>
                        <button class="btn" list-item-edit="remove">remove me!</button>
                      </div>
                    </div>
                   </div>
                   <div class="col-sm-9 myCol">
                        <div class="usersPanel row " >
                            <div class="col-sm-6 ">
                                <div list-view list="user in collectionOfUsers" select-mode="single">
                                    <div>
                                        <h1>Użytkownicy!</h1>
                                        <button class="btn" list-edit-toggle>Tryb edycji</button>
                                        <button class="btn" list-add="addUser()" >Dodaj usera!</button>
                                    </div>
                                    <div list-item ng-click="onUserSelected(user); active = 1" ng-class="{'active-list-tem': active == 1}">
                                        <div class="list-item-body" ng-class="{'edit-mode': $editMode}">
                                            <h3>Użytkownik:</h3>
                                            <pre>{{ user | json}}</pre>
                                        </div>
                                        <div class="list-item-controls" ng-class="{'edit-mode': $editMode}">
                                            <button  class="btn userListDeleteButton" list-item-edit="remove">Usuń</button>
                                            <button class="btn userListEditButton" list-item-edit="editUser(user)">Edytuj!</button>
                                        </div>
                                    </div>
                                </div>
                                  <modal ng-attr-title="{{modalBackend.title}}" visible="showModal">
                                    <form role="form">
                                      <div class="form-group">
                                        <label for="username">Nazwa</label>
                                        <input type="text" class="form-control" id="username" ng-model='modalBackend.username'/>
                                      </div>
                                      <div class="form-group">
                                        <label for="password">Hasło</label>
                                        <input type="text" class="form-control" id="password" ng-model='modalBackend.password' />
                                      </div>
                                    <div class="form-group">
                                        <label for="userType">typ użytkownika</label>
                                        <input type="text" class="form-control" id="password" ng-model='modalBackend.userType' />
                                      </div>
                                      <button type="button" class="btn btn-default" ng-click="sendForm()">Zapisz</button>
                                    </form>
                                  </modal>
                            </div>
                            <div class="col-sm-6">
                                current user details:
                                {{userDetails}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    </div>
</body>
</html>
   
  