html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;    
  word-wrap: break-word;
}

 h1 {
    font-size: 1.5rem;
  }

  h3 {
    margin: 0;
    font-size: 1rem;
  }

    #adminPanel {
          height: 100%;
          width: 100%;
    }

      button {
        display: inline-block;
        border: 0;
        outline: 0;
        text-align: center;
        cursor: pointer;

        padding: .5rem 1rem;

        background-color: #43ac6a;
      }
    
      pre {
        padding: 1rem;
        background-color: #dedede;
        white-space: pre-wrap;
      }

      button[list-edit-toggle] {
        background-color: #f08a24;
      }

      .userListDeleteButton{
        padding: .5rem 0;

        width: 100%;
        background-color: #f04124;
      }
      .userListEditButton {
        padding: .5rem 0;
       
        width: 100%;
        background-color: #f08a24;
      }

      div[list-view] {
        height: 100%;
        width: 100%;
        margin: 0 auto;
        padding: 1rem;
        overflow-y: auto;
        background-color: #eaeaea;
        overflow-y: auto;
          
      }

      div[list-view] > div:first-child {
        padding: .5rem 1rem;
        background-color: #cdcdcd;
      }

      div[list-view] > div:first-child h1 {
        margin-top: 0;
          
      }

      div[list-item] {
        display: flex;
        margin-top: .5rem;
        max-height: 250px; 
        max-height: 350px; 
        overflow-x: hidden;
      }

      div.list-item-body {
        width: 100%;
        padding: 1rem 1.5rem;
        background-color: #ababab;
        transition: .3s width ease-out;
        overflow-y: auto;
        overflow-x: hidden;
      }

      div[list-item]:nth-child(2n) div.list-item-body {
        background-color: #909090;
      }

      div.list-item-body.edit-mode {
        width: 80%;
      }

      div.list-item-controls {
        height: 100%;
        width: 0%;
        transition: .3s width ease-out;
      }

      div.list-item-controls.edit-mode {
        width: 20%;
      }

      .active-list-item {
           background-color: #909060;          
      }

    .myCol {
        height: 100%;
    }